<nav class="header-navigation navbar-custom nav_{{page.layout}} {% if page.navcolor %}{{ page.navcolor }}{% endif %}">
  <ul class="header-ul">
    {% for item in site.nav %}
      <li class="header-item"><a href="{{item.url}}" target="{% if item.url == '/home/' %}_blank{% endif %}" title="{{item.description}}">{{item.title}}</a></li>
    {% endfor %}
    <li class="header-item"><a href="/" title="{{site.blog_button.description}}" class="blog-button">{{site.blog_button.title}}</a></li>
    {% if site.subscribe_button %}<li class="header-item"><a class="subscribe-button" title="{{site.subscribe_button.description}}">{{site.subscribe_button.title}}</a></li>{% endif %}
    <li class="header-item btn-search-icon"><a class href="javascript:void(0)"><i class="fa icon-search"></i></a></li>
  </ul>
</nav>