<section class="read-more">
   {% if page.next %}
   {% assign current = page.next %}
   <div class="read-more-item">
       <span class="read-more-item-dim">最近的文章</span>
       <a class="post-content" href="{{ current.url }}" title="link to {{ current.title }}">
            <h2 class="post-list__post-title post-title">{{ current.title }}</h2>
            <p class="excerpt">{{ current.content | markdownify | strip_html | strip_newlines | truncate: 200 }}&hellip;</p>
       </a>
       <div class="post-list__meta"><a href="/dates/#{{current.date | date: '%Y'}}"><time datetime="{{current.date | date: date_to_xmlschema}}" class="post-list__meta--date date">{{current.date | date: "%F"}}</time></a> &#8226; <a title="类别：{{current.categories}}" href="/categories/#{{current.categories}}" class="post-list__meta--tags tags categories">{{current.categories | join:' ' }}</a><a title="标签：{{current.tags}}" href="/tags/#{{current.tags}}" class="post-list__meta--tags tags">{{current.tags | join:' ' }}</a>&nbsp;&nbsp;<a class="btn-border-small" href={{current.url}}>继续阅读</a></div>
   </div>
   {% endif %}
   
   {% if page.previous %}
   {% assign current = page.previous %}
   <div class="read-more-item">
       <span class="read-more-item-dim">更早的文章</span>
       <a class="post-content" href="{{ current.url }}" title="link to {{ current.title }}">
            <h2 class="post-list__post-title post-title">{{ current.title }}</h2>
            <p class="excerpt">{{ current.content | markdownify | strip_html | strip_newlines | truncate: 200 }}&hellip;</p>
       </a>
       <div class="post-list__meta"><a href="/dates/#{{current.date | date: '%Y'}}"><time datetime="{{current.date | date: date_to_xmlschema}}" class="post-list__meta--date date">{{current.date | date: "%F"}}</time></a> &#8226; <a title="类别：{{current.categories}}" href="/categories/#{{current.categories}}" class="post-list__meta--tags tags categories">{{current.categories | join:' ' }}</a><a title="标签：{{current.tags}}" href="/tags/#{{current.tags}}" class="post-list__meta--tags tags">{{current.tags | join:' ' }}</a>&nbsp;&nbsp;<a class="btn-border-small" href={{current.url}}>继续阅读</a></div>
   </div>
   {% endif %}
</section>
