.tags-wrapper {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  @media screen and (max-width: $wildmeowth-pad-width) {
    margin-top: 0;
  }
  .tags {
    list-style: none;
    margin-left: 0;
    li{
      display: inline;
    }
    .tag {
      text-decoration: none;
      border: none;
      border-radius: 20px;
      padding: 2px 10px;
      margin: 0 .25em .5em .25em;
      display: inline-block;
      sup {
        font-size: .8em;
      }
      &.show-all {
        color: $wildmeowth-hover-color2;
        background: #f3f5f5;
        &:hover,&.focus {
          background-color: #E4E4E4 !important;
          box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.24) 0 1px 4px;
        }
      }
      &.tag-child {
        color: $wildmeowth-white;
        &:hover,&.focus{
          background-color: $wildmeowth-hover-color2 !important;
          box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.24) 0 1px 4px;
        }
      }
    }
  }
}
.tags-content{
  .tag-title {
    font-size: 1.3em;
    color: $wildmeowth-hover-color2;
    margin-bottom: 30px;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    height: 0；
  }
}

.post-list-by-tag {
  list-style: none;
  time, a {
    color: #404040;
    font-size: 1em;
    &:hover{
      color: #337AB7;
    }
  }
}

.back-to-top {
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: right;
  text-decoration: none;
  color: $wildmeowth-blue;
}
