
$wildmeowth-gray-lightest:     #F8F8F8;
$wildmeowth-gray-lighter:      #EEEEEE;
$wildmeowth-gray-light:        #DDDDDD;
$wildmeowth-gray:              #CCCCCC;
$wildmeowth-cat-gray:          #777777;
$wildmeowth-gray-dark:         #999999;
$wildmeowth-gray-darker:       #666666;
$wildmeowth-gray-darkest:      #333333;
$wildmeowth-tag-gray:          #BFBFBF;

$wildmeowth-green:             #156F78;
$wildmeowth-purple:            #493252;
$wildmeowth-red:               #E25440;
$wildmeowth-orange:            #FB9C50;
$wildmeowth-slate:             #3D4260;
$wildmeowth-blue:              #2568A3;
$wildmeowth-catred:            #BF1827;
$wildmeowth-white:             #FFFFFF;

$wildmeowth-primary-color:     $wildmeowth-catred;
$wildmeowth-secondary-color:   #5BA4E5;

$wildmeowth-link-color:        $wildmeowth-primary-color;
$wildmeowth-hover-color:       darken($wildmeowth-link-color, 15%);
$wildmeowth-hover-color2:      #0085A1;

$wildmeowth-sans-font:         -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
$wildmeowth-serif-font:        -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;

$wildmeowth-border-radius:     3px;
$wildmeowth-sm-width: 35.5rem;
$wildmeowth-pad-width: 991px;
$wildmeowth-phone-width: 486px;