// ------------------------------
// BUTTONS
// ------------------------------

.btn {
  padding: 10px 20px;
  border: 1px solid $wildmeowth-primary-color;
  border-radius: 20px;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: none;
  color: $wildmeowth-primary-color;
  -webkit-font-smoothing: antialiased;

  &:hover {
    color: darken($wildmeowth-primary-color, 15%);
    border-color: darken($wildmeowth-primary-color, 15%);
  }

}

.btn-border-small {
  border: 1px solid $wildmeowth-tag-gray;
  color: $wildmeowth-tag-gray;
  border-radius: 20px;
  padding: 6px 8px;
  font-size: .8em;
  display: inline-block;
  &:hover {
    color: darken($wildmeowth-primary-color, 15%);
    border-color: darken($wildmeowth-primary-color, 15%);
  }
}

.btn-secondary {
  border-color: $wildmeowth-secondary-color;
  color: $wildmeowth-secondary-color;

  &:hover {
    color: darken($wildmeowth-secondary-color, 15%);
    border-color: darken($wildmeowth-secondary-color, 15%);
  }

}

.btn-tertiary {
  border-color: $wildmeowth-gray-dark;
  color: $wildmeowth-gray-dark;

  &:hover {
    color: darken($wildmeowth-gray-dark, 15%);
    border-color: darken($wildmeowth-gray-dark, 15%);
  }

}

.btn-large {
  padding: 10px 24px;
  font-size: 1.1em;
}

.btn-small {
  padding: 8px 12px;
  font-size: .7em;
  @media screen and (max-width: 720px) {
    padding: 4px 8px;
  }
}

// ------------------------------
// MOBILE MENU BUTTON
// ------------------------------

.btn-mobile-menu {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 35px;
}

.btn-mobile-menu__icon,
.btn-mobile-close__icon {
  position: relative;
  top: 0;
  right: 0;
  padding: 18px;
  border-radius: 50%;
  background-color: none;
  &.focus {
    background-color: rgba($wildmeowth-gray-light,.33);
  }
}

.btn-mobile-search__icon {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #FFF;
}

.subscribe-button {
  cursor: pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.btn-pagination {
  display: inline-block;
    height: 2.6em;
    text-align: center;
    line-height: 2.6em;
    padding-top: 0;
    padding-bottom: 0;
    font-size: .6em;
    @media screen and (max-width: 720px) {
      height: 2.2em;
      line-height: 2.2em;
    }
}