nav {
  display: inline-block;
  position: relative;
}

.navigation {
  display: inline-block;
  float: left;
  position: relative;
  margin: 0;
  list-style-type: none;
}

  .navigation__item {
    display: inline-block;
    margin: 5px 1px 0 0;
    line-height: 1em;

    a {
      display: block;
      position: relative;
      @extend .btn;
      border-color: #FFF;
      color: #FFF;
      opacity: .8;

      &:hover {
        color: #FFF;
        border-color: #FFF;
        opacity: 1;
      }

    }

  }

  .navigation--social {
    a {
      border: 0px;
      padding: 6px 8px 6px 9px;

      .label {
        display: none;
      }

      .icon {
        display: block;
        font-size: 1.7em;
      }

    }

  }

//new header
.header-navigation{
  display: block;
  position: absolute;
  top: 0;
  width:100%;
  z-index: 2;
  &.nav_post:not(.invert), &.is-fixed {
    a {
      color: $wildmeowth-gray-darkest !important;
      &:hover {
        color: $wildmeowth-hover-color2 !important;
        opacity: 1;
      }
    }
  }
  &.nav_post{
    &.is-fixed {
      background-color: rgba($wildmeowth-gray-lightest,.8);
    }
  }
  &.is-fixed{
    position: fixed;
    top: -61px;
    background-color: rgba($wildmeowth-gray-lightest,.5);
    border-bottom: 1px solid wildmeowth-gray-lightest;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
  }
  &.is-visible{
    -webkit-transform: translate3d(0,100%,0);
    -moz-transform: translate3d(0,100%,0);
    -ms-transform: translate3d(0,100%,0);
    -o-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
  }
  .header-ul {
    margin: 0;
    padding: 5px 0;
    list-style-type: none;
    text-align: right;
    .header-item {
      display: inline-block;
      margin: 5px 1px 0 0;
      line-height: 1em;
      &:last-child{
        margin-right: 20px;
      }
      a {
        display: block;
        padding: 15px 20px;
        position: relative;
        @extend .btn;
        color: $wildmeowth-white;
        opacity: .8;
        border: none;
        &:hover {
          color: $wildmeowth-hover-color2;
          opacity: 1;
        }
      }
      .index-search__text {
        display: block;
        cursor: pointer;
      }
      .index-search__icon{
        display: none;
        cursor: pointer;
      }
    }
  }
}

@media all and (max-width: $wildmeowth-pad-width) {
  .header-navigation{
    background: white;
    position: absolute;
    top: 55px;
    right: 18px;
    z-index: 9998;
    width: 170px;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,.2);
    box-shadow: rgba(0,0,0,.12) 0 1px 6px, rgba(0,0,0,.24) 0 1px 4px;
    border-radius: 2px;
    visibility: hidden;
    transform-origin: 100% 0%;
    transform: scale(0.1);
    opacity: 0;
    transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
    &.visible {
      visibility: visible;
      transform: scale(1);
      opacity: 1;
      a {
        color: $wildmeowth-cat-gray !important;
      }
      ul{
        text-align: center;
        margin-bottom: 20px;
      }
      .header-ul {
        margin: 10px 0 0 0;
        list-style-type: none;
        text-align: left;
        .header-item {
          display: block;
          margin: 0 auto;
          margin-bottom: 0.4em;
          a {
            padding: 12px 15px;
            font-size: .9em;
            font-weight: bold;
            letter-spacing: 1px;
            text-shadow: none;
            -webkit-font-smoothing: antialiased;
            color: $wildmeowth-cat-gray !important;
            &:hover {
              color: $wildmeowth-hover-color2;
              background-color: rgba($wildmeowth-gray-light,.8);
              border-radius: 0;
              opacity: 1;
            }
          }
          .index-search__text {
            display: block;
            cursor: pointer;
          }
          .index-search__icon{
            display: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}