// ------------------------------
// POST LIST
// ------------------------------

.post-list {
  margin: -15px 0 0 0;
  padding: 0;
  list-style-type: none;
  text-align: left;

  li {
    margin: 0 0 2.2em 0;

  }

}
.post-content:hover {
  h2 {
    color:$wildmeowth-hover-color2;
  }
  p{
    color:#3bb3bb;
  }
}

  .post-list__post-title {
    margin-top: 0;
    margin-bottom: .2em;
    font-size: 1.5em;
    line-height: 1.3em;
    color: $wildmeowth-gray-darkest;

  }

  .post-list__meta {
    display: block;
    margin: .7em 0 0 0;
    font-size: .9em;
    color: darken($wildmeowth-gray, 2%);
    line-height: 1em;
    .tags{
      color: $wildmeowth-white;
      background-color: $wildmeowth-blue;
      padding: 1px 5px;
      border-radius: 2px;
      @media (max-width: $wildmeowth-sm-width) {
        padding: 1px;
      }
    }
    .categories{
      background-color: $wildmeowth-gray-dark;
    }
  }

    .post-list__meta--date {
      margin-right: .5em;
      color: darken($wildmeowth-gray, 2%);
    }

    .post-list__meta--tags {
      margin-left: .5em;
    }

  .post-list__divider {
    width: 30%;
    margin: 2.2em 0 2.1em 0;
    border-top: 1px solid $wildmeowth-gray-light;
  }