---
layout: default
---

<div class="main-post-list">
  {% include menu-archive.html %}
  <div class="row">
    <div class="col-lg-9 col-lg-offset-1 col-md-9 col-md-offset-1 col-sm-12 col-xs-12 post-list">
      {{ content }}
    </div>
    <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12 col-xs-12 paddingzero-mobile right-content">
      <div class="search-icon"><a href="javascript:void(0)"><i class="fa fa-search"></i></a></div>
      {% include fetured-tags.html %}
      {% include about-me.html %}
      {% include friends.html %}
    </div>
  </div>
</div>
