---
layout: default
---

<div class="row"> 
  <article class="post-container post-container--single 
                  col-lg-8 col-lg-offset-2
                  col-md-10 col-md-offset-1
                  post-container" itemscope itemtype="http://schema.org/BlogPosting">
    
    <section class="post">
        {% if page.type == 'orginal' or page.type == nil %}
        <blockquote>
        <p>
        版权声明：本文为 @WildMeowth 的原创文章，可以转载，但请务必注明作者和出处！！！原文链接：<a href="{{page.url | prepend: site.baseurl | prepend: site.url}}">wildmeowth</a>
        </p>
        </blockquote>
        {% endif %}
      {{ content }}
    </section>
  </article>

  <!-- Side Catalog Container -->
  {% unless page.no-catalog %}
  <div class="
      col-lg-2 col-lg-offset-0
      visible-lg-block
      sidebar-container
      catalog-container">
      <div class="side-catalog">
          <hr class="hidden-sm hidden-xs">
          <h5 class="exclude">
              <a class="catalog-toggle" href="#">CATALOG</a>
          </h5>
          <ul class="catalog-body"></ul>
      </div>
  </div>
  {% endunless %}
</div>
<div class="row">
  <div class="post-header
                  col-lg-8 col-lg-offset-2
                  col-md-10 col-md-offset-1">
    {% include read-more.html %}
    {% include comments.html %}
    <hr class="post-list__divider full-width" />
  </div>
</div>
