*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

html,body{ 
    height: 100%;
    font-family: 'Microsoft YaHei';
    font-size: 16px;
}

.ability{
    height:22px;
}

ul{
    padding:0px;
    margin-bottom: 0px;
}

h6{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    height:28px;
    line-height:30px;
}

@keyframes fade-in {
    0% {opacity: 0;}/*初始状态 透明度为0*/
    40% {opacity: 0;}/*过渡状态 透明度为0*/
    100% {opacity: 1;}/*结束状态 透明度为1*/
}
@-webkit-keyframes fade-in {/*针对webkit内核*/
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade-out {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}
@-webkit-keyframes fade-out {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}

article {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: fade-in 1.5s linear;
    -webkit-animation:fade-in 1.5s linear;
}

.it-is-me {
    position: absolute;
    top: 2%;
    left: 3%;
    width: 40%;
    animation: fade-in 1.5s linear;
    color: white;
}

@keyframes bounce-down {
    25% {transform: translateY(-10px);}
    50%, 100% {transform: translateY(0);}
    75% {transform: translateY(10px);}
}
@keyframes bounce-up {
    25% {transform: translateY(10px);}
    50%, 100% {transform: translateY(0);}
    75% {transform: translateY(-10px);}
}
@-webkit-keyframes bounce-down {
    25% {transform: translateY(-10px);}
    50%, 100% {transform: translateY(0);}
    75% {transform: translateY(10px);}
}  
@-webkit-keyframes bounce-up {
    25% {transform: translateY(10px);}
    50%, 100% {transform: translateY(0);}
    75% {transform: translateY(-10px);}
}


.it-is-me-photo {
    height: 50px;
    width: 50px;
    background: url('../images/me.jpg') -12px center no-repeat;
    background-size: auto 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #CCC;
}
.index-tips-arrow {
    position: absolute;
    top: 90%;
    left: 48%;
    animation: bounce-down 1.5s linear infinite;
    -webkit-animation: bounce-down 1.5s linear infinite;
    text-align: center;
    color: white;
    cursor: pointer;
}

/** 箭头 start */
.li-arrow {
    margin: 0px;
    padding: 0px;
    content: " ";
    display: inline-block;
    height: 8px;
    width: 8px;
    border-width: 2px 2px 0px 0px;
    border-color: #c8c8cd;
    border-style: solid;
    position: relative;
}
.li-arrow-right {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: .23rem;
    top: 1px;
}
